@import "_normalize";
@import "_variables";
@import "_hamburgers";


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $main-font, sans-serif;
    height: 200vh;
    background-color: royalblue;
}

// nav
.navigation {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: #fff;

    &__list {
        position: absolute;
        height: 0;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding-bottom: 8px;
        background-color: #fff;
        list-style: none;
        transition: 0.25s;
        font-size: 0;

        &--visible {
            height: 15vh;
            font-size: 16px;
        }
    }

    &__link {
        color: rgba(0, 0, 0, .5);
        text-decoration: none;
    }

    &__button {
        position: absolute;
        top: 20%;
        right: 5%;
        // padding: 5px 8px;
        border-style: none;
        background-color: #fff;
    }
}