@import "_normalize";
@import "_variables";
@import "_mixins";
@import "_hamburgers";


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $main-font, sans-serif;
}

// nav
.navigation {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100vw;
    background-color: #fff;

    // mobile landscape
    @media(min-width: 533px) and (orientation: landscape) {
        height: 16vh;
    }

    @media(min-width: 730px) and (orientation: landscape) {
        height: 12vh;
    }

    @media(min-width: 900px) and (orientation: landscape) {
        height: 8vh;
    }

    // desktops
    @media(min-width: 1024px) and (orientation: landscape) {
        height: 5vh;
    }

    &__list {
        position: absolute;
        height: 0;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding-left: 16px;
        padding-bottom: 8px;
        background-color: #fff;
        list-style: none;
        transition: 0.25s;
        font-size: 0;

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 5vh;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 0 16px;
            font-size: 18px;
        }

        &--visible {
            height: 15vh;
            font-size: 16px;

            // mobile portrait
            @media(min-width: 480px) and (orientation: portrait) {
                height: 12vh;
                padding-top: 8px;
                font-size: 18px;
            }

            @media(min-width: 600px) and (orientation: portrait) {
                height: 14vh;
                padding-top: 16px;
                font-size: 22px;
            }

            @media(min-width: 768px) and (orientation: portrait) {
                height: 16vh;
                font-size: 30px;
            }

            // mobile landscape
            @media(min-width: 533px) and (orientation: landscape) {
                height: 26vh;
            }

            @media(min-width: 730px) and (orientation: landscape) {
                height: 20vh;
            }

            @media(min-width: 900px) and (orientation: landscape) {
                height: 15vh;
                font-size: 18px;
            }
        }
    }

    &__item {

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            transition: 0.5s;
            height: 100%;

            &:hover {
                background-color: #dedede;
            }
        }
    }

    &__link {
        color: rgba(0, 0, 0, .5);
        text-decoration: none;

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            transition: 0.5s;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 16px;
            display: flex;
            align-items: center;
        }

        &:hover {
            color: #000;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(.75);
        border-style: none;
        background-color: #fff;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            top: 50%;
            transform: scale(1) translateY(-50%);
        }

        @media(min-width: 768px) and (orientation: portrait) {
            top: 25%;
            right: 2%;
            transform: scale(1.25);
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            // top: -20%;
            // right: -2%;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            display: none;
        }
    }
}

// welcome
.welcome {
    height: 80vh;
    margin-top: calc(10vh - 8px);
    padding-left: 16px;
    padding-right: 16px;
    background-image: url('../assets/img/top-bg.jpg');
    background-position: 40% 50%;
    color: #fff;
    text-align: center;
    @include flex-column;
    align-items: center;

    // mobile portrait
    @media(min-width: 768px) and (orientation: portrait) {
        margin-top: calc(10vh - 16px);
    }

    // mobile landscape
    @media(min-width: 533px) and (orientation: landscape) {
        height: 95vh;
    }

    // desktops
    @media(min-width: 1024px) and (orientation: landscape) {
        height: 70vh;
        margin-top: 5vh;
        background-size: cover;
    }

    &__title {
        padding-top: 10vh;
        margin-bottom: 0;
        font-size: 30px;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 40px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 55px;
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            font-size: 25px;
        }

        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 40px;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            margin-top: 0;
        }
    }

    &__advantage {
        color: $orange;
    }

    &__description {
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.5;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 18px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 24px;
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            font-size: 12px;
        }

        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 16px;
        }
    }

    &__button {
        margin-top: 12vh;
        padding: 10px 20px;
        border-style: none;
        border-radius: 4px;
        background-color: $orange;
        color: #fff;
        text-align: center;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            margin-top: 15vh;
            padding: 12px 24px;
            font-size: 24px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            padding: 20px 40px;
            font-size: 35px;
            border-radius: 16px;
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            margin-top: 22vh;
        }

        @media(min-width: 850px) and (orientation: landscape) {
            margin-top: 15vh;
            padding: 12px 30px;
            font-size: 20px;
            border-radius: 12px;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            transition: 0.5s;

            &:hover {
                background-color: rgba(256, 208, 7, 0.5);
                cursor: pointer;
            }
        }
    }
}

// offer
.offer {
    padding: 0 16px 64px 16px;
    text-align: center;

    // mobile portrait
    @media(min-width: 480px) and (orientation: portrait) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media(min-width: 768px) and (orientation: portrait) {
        padding-left: 100px;
        padding-right: 100px;
    }

    // mobile landscape
    @media(min-width: 533px) and (orientation: landscape) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media(min-width: 850px) and (orientation: landscape) {
        padding-left: 150px;
        padding-right: 150px;
    }

    // desktops
    @media(min-width: 1024px) and (orientation: landscape) {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        margin: 10vh 0 10vh 0;
        font-size: 26px;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 35px;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            font-size: 38px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 50px;
        }

        // mobile landscape
        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 34px;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            flex-basis: 100%;
            font-size: 38px;
        }
    }

    &__item {
        margin-bottom: 6vh;

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            flex-basis: 30%;
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &__image {

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            width: 20%;
        }
    }

    &__name {
        margin-top: 10px;
        font-size: 22px;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            margin-bottom: 10px;
            font-size: 28px;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            font-size: 32px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 40px;
        }

        // mobile landscape
        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 26px;
        }
    }

    &__description {
        line-height: 1.5;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 18px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 24px;
        }

        // mobile landscape
        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 18px;
        }
    }
}

// opinion
.opinion {
    height: 80vh;
    padding-top: 5vh;
    background-image: url('../assets/img/testimonial-bg.jpg');
    background-position: 5% 25%;
    color: #fff;
    text-align: center;

    // mobile portrait
    @media(min-width: 360px) and (orientation: portrait) {
        height: 65vh;
    }

    @media(min-width: 480px) and (orientation: portrait) {
        height: 55vh;
    }

    @media(min-width: 600px) and (orientation: portrait) {
        padding-top: 2vh;
        height: 50vh;
    }

    // mobile landscape
    @media(min-width: 533px) and (orientation: landscape) {
        height: 110vh;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 42px;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            font-size: 50px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 60px;
        }
    }

    &__span {
        color: $orange;
    }

    &__quote {

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            margin: 16px 80px;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            margin: 16px 120px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            margin: 16px 150px;
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            margin: 16px 100px;
        }
    }

    &__content {
        line-height: 1.5;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 18px;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            font-size: 20px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 24px;
        }
    }

    &__author {

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            font-size: 20px;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 24px;
        }
    }
}